*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.content{
    /* color: #f00; */
}
header{
    width: 100%;
}

nav{
    width: 80%;
    height: 50px;
    margin: auto;
    /* background: rgb(228, 228, 228); */
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    column-gap: 10px;
}

.button-menu{
    width: 100%;
    height: 40px;
    background: rgb(231, 111, 56);
    margin-top: 5px;
}

.menu-content{
    width: 80%;
    margin: auto;
}

.banner{
    width: 80%;
    height: 250px;
    margin: auto;
    background:  url('images/banner.jpg');
}

.container-bloks{
    width: 80%;
    margin: auto;
}

.bloks{
    display: grid;
    grid-template-columns: 1.3fr 1.3fr 1.3fr;
    column-gap: 10px;
    margin-top: 10px;
}

.bloks-item{
    padding: 10px;
    background: rgb(249, 249, 249);
    height:200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.bloks-item span{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.bloks-item span i{
    font-size: 30px;
}

.bloks-item b{
    font-size: 13px;
}

.mainview{
    width: 100%;
    height: 300px;
    background:url('images/corFigure.png') center;
    margin-top: 15px;
}

.titleContent{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
}


.titleContent div{
    background:  rgb(231, 111, 56);
    width: 70px;
    height: 10px;
}

.content-items{
    height: 300px;
    background: rgb(216, 210, 210);
    margin: auto;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    column-gap: 15px;
}

.content-items-box{
    width: 200px;
    height: 280px;
    background-position: center !important;
    background-size: cover !important;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
    align-items: flex-start;
}

.content-items-box button{
    margin: 10px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: #fff;
}


.logo{
    background: url('images/logoOscarRibas.png') no-repeat left;
    background-size: 80%;
}

/* .pesquisa{
    border: 1px solid #f00;
} */

.pesquisa form{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
}
.pesquisa form input[type="search"]{
    height: 45px;
    background: rgb(235, 235, 235);
    padding-left: 1px;
}

.pesquisa form button:first-child{
    height: 47px;
    border: none;
    border: 2px solid rgb(223, 223, 223);
    background: none;
    margin-top: -1.5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.pesquisa form button:last-child{
    height: 47px;
    border: none;
    border: 2px solid rgb(223, 223, 223);
    background: none;
    margin-top: -1.5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.user-name{
    display: grid;
    grid-template-columns: 1fr;
    border: none;
    background: none;
}

.user-name:hover{
  color: rgb(163, 162, 162);
}

.user-name span,.user-name b{
    width: 100%;
    text-align: center;
}
.user-name b{
    font-size: 14px;
}
.user-name i{
    font-size: 19px;
}

.conta{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 8fr;
}
.submenu-item:first-child{
    font-size: 19px;
    display: flex;
    justify-content: left;
    align-items: left;
    justify-items: left;
}
.submenu-item{
   display: flex;
   justify-content: center;
   align-items: center;
   justify-items: center;
   height: 40px;
   font-size: 14px;
   text-transform: uppercase;
   color: #fff;
}
.submenu-item span i{
    font-size: 18px;
    position: relative;
    top: -2px;
}

footer{
    margin-top: 10px;
    width: 100%;
    height: 300px;
    background: rgb(194, 100, 57);
}

.top-container{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    background: rgb(231, 111, 56);
}


